DATABASE_URL=postgresql://<user>:<password>@localhost:<port>/<db_name>

SUPABASE_URL=https://<project>.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

PORT=3000
FRONTEND_URL=http://localhost:5173
